<div *ngIf="dataLoaded==false" class="spinner-border text-secondary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<table class="table" *ngIf="dataLoaded!=false">
  <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>Category Id</td>
      <td>Units Price</td>
      <td>Stock</td>
    </tr>
  </thead>

  <tr *ngFor="let product of products">
    <td>{{ product.productId }}</td>
    <td>{{ product.productName }}</td>
    <td>{{ product.categoryId }}</td>
    <td>{{ product.unitPrice }}</td>
    <td>{{ product.unitsInStock }}</td>
  </tr>
</table>
